div.pageinfo {
    background-color: white;
    color: black;
    margin: 90px 25px 40px 25px;
    padding: 30px;
    font-size: 25px;
}

div.announcement {
    background-color: white;
    color: black;
    margin: 40px 25px 60px 25px;
    padding: 30px;
    font-size: 25px;
}

div.references {
    background-color: white;
    color: black;
    margin: 40px 25px 60px 25px;
    padding: 30px;
    font-size: 25px;
}

.navbar {
/*    font-size:30px;*/
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
